* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bg-color {
  background-image: url(img/PHOTO-2022-03-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}
.nav-item {
  justify-content: center;
  align-content: center;
}
.nave-area {
  z-index: 1;
  border-bottom: 1px solid gainsboro;
  padding: 0px 30px;
  width: 100%;
}
.manu-logo {
  width: 200px;
  height: 100px;
  object-fit: cover;
}
.hauf-style {
  width: 50vh;
  position: absolute;
}
.hauf-box {
  position: absolute;
  width: auto;
  height: 0;
  border-right: 3px solid transparent;
  border-left: 883px solid white;
  border-bottom: 817px solid transparent;
  top: 0px;
  left: 0px;
}
.hauf-conten {
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 153px;
  left: 15px;
}
.hauf-conten-img {
  width: 414px;
  object-fit: contain;
}
.header-button {
  text-decoration: none;
  background-color: #61ba40;
  color: white;
  padding: 10px;
  border-radius: 40px;
}
.header-footer {
  background-color: #2081ef;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  padding: 36px;
  margin: 0;
}
.hand-img {
  display: flex;
  justify-content: center;
  padding: 0;
}
.hand-img img {
  width: 197px;
  height: 242px;
}
.mid-section {
  background-color: white;
  padding: 56px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.mid-hauf {
  position: absolute;
  width: 0;
  height: 0;
  border-right: 282px solid green;
  border-left: 3px solid transparent;
  border-bottom: 427px solid transparent;
  right: 12px;
  top: -32px;
}
.mid-contain {
  z-index: 1;
}

.mid-contain img {
  width: 235px;
}
.mid-contain p {
  color: black;
}
.albam img {
  width: 410px;
}
.albam {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.mid-button {
  margin-top: 60px;
  text-align: center;
}
.mid-button a {
  text-decoration: none;
  background-color: forestgreen;
  color: white;
  padding: 20px;
  font-weight: bolder;
  border-radius: 50px;
}
.map-hauf {
  width: 0;
  height: 0;
  border-right: 1234px solid transparent;
  border-bottom: 751px solid #e6e6e6;
  position: absolute;
  z-index: -1;
  bottom: -123px;
  left: -15px;
}
.map-area {
  margin-top: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-img {
  display: flex;
  justify-content: center;
  transform: scale(2);
  z-index: -1;
}
.input-conten {
  background-color: #2077db;
  border-radius: 10px 0px 10px 0px;
  padding: 20px;
  z-index: 1;
}

/* .input-wrtie {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-fild {
} */
.footer {
  background-image: linear-gradient(
      rgba(28, 57, 89, 0.637),
      rgba(28, 57, 89, 0.651)
    ),
    url("img/footer\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-logo {
  width: 200px;
}
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.social-icon img {
  width: 70px;
  height: 70px;
}
.footer {
  margin-top: 118px;
}
.footer-manue {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-manue a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
  .hauf-box {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 3px solid transparent;
    border-left: 701px solid white;
    border-bottom: 674px solid transparent;
    top: 0px;
    left: 0px;
  }
  .map-hauf {
    width: 0;
    height: 0;
    border-right: 1147px solid transparent;
    border-bottom: 705px solid #e6e6e6;
    position: absolute;
    z-index: -1;
    bottom: -123px;
    left: 0;
  }
}
@media only screen and (max-width: 762px) {
  /*Small smartphones [325px -> 425px]*/
  .hauf-box {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 3px solid transparent;
    border-left: 701px solid white;
    border-bottom: 536px solid transparent;
    top: 0px;
    left: 0px;
  }
  .mid-hauf {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 233px solid green;
    border-left: 3px solid transparent;
    border-bottom: 292px solid transparent;
    right: 12px;
    top: -32px;
  }
  .hauf-conten-img {
    width: 302px;
    object-fit: contain;
    margin-left: 158px;
  }
  .map-hauf {
    width: 0;
    height: 0;
    border-right: 770px solid transparent;
    border-bottom: 1124px solid #e6e6e6;
    position: absolute;
    z-index: -1;
    bottom: -123px;
    left: -11px;
  }
  .input-conten {
    background-color: #2077db;
    border-radius: 10px 0px 10px 0px;
    padding: 20px;
    z-index: 1;
    margin-top: 134px;
  }
}
@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .hauf-box {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 3px solid transparent;
    border-left: 523px solid white;
    border-bottom: 537px solid transparent;
    top: 0px;
    left: 0px;
  }
  .mid-hauf {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 178px solid green;
    border-left: 3px solid transparent;
    border-bottom: 240px solid transparent;
    top: -32px;
  }
  .hauf-conten-img {
    width: 292px;
    object-fit: contain;
    margin-left: 135px;
    height: 31px;
  }
  .map-hauf {
    width: 0;
    height: 0;
    border-right: 657px solid transparent;
    border-bottom: 1124px solid #e6e6e6;
    position: absolute;
    z-index: -1;
    bottom: -123px;
    left: -11px;
  }
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  .hauf-box {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 3px solid transparent;
    border-left: 300px solid white;
    border-bottom: 470px solid transparent;
    top: 0px;
    left: 0px;
  }
  .mid-hauf {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 178px solid green;
    border-left: 3px solid transparent;
    border-bottom: 197px solid transparent;
    top: -32px;
  }
  .hauf-conten-img {
    width: 194px;
    object-fit: contain;
    margin-left: 113px;
  }
  .mid-contain p {
    color: black;
    overflow: scroll;
    height: 241px;
  }

  .input-area {
    padding: 9px;
    width: 200px;
    background-color: #2077db;
    border-radius: 10px 0px 10px 0px;
    margin-left: 105px;
  }
  .mid-button a {
    text-decoration: none;
    background-color: forestgreen;
    color: white;
    padding: 20px;
    font-weight: bolder;
    border-radius: 50px;
  }
  .albam img {
    width: 267px;
  }
  .map-hauf {
    width: 0;
    height: 0;
    border-right: 330px solid transparent;
    border-bottom: 807px solid #e6e6e6;
    position: absolute;
    z-index: -1;
    bottom: -123px;
    left: -11px;
  }
}
